*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
    background: url("/images/banner/banner1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 216px 230px 186px 845px;
}

.header-content{
    max-width: 525px;
    text-align: right;
}

.header-content h2{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}
.header-content p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 32px;
}

.btn{
    background-color: #F15B22;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}